@media screen and (min-width: 420px){
    .container__hambur{
        display: flex;
        margin: 0px 40px;
    }
    .nav__header{
        display: none;
    }
    .tabla{
        font-size: 0.6rem;
    }
}

@media screen and (min-width: 600px){
    .container__hambur{
        display: flex;
    }
    .nav__header{
        display: none;
    }
    .tabla{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px){
    .nav__header{
        display: flex;
    }
    .container__hambur{
        display: none;
    }
    .nav__none{
        display: none;
    }
}


